.item-detail-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .item-image {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .quantity-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .quantity-display {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-item-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }